.cards {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	align-items: center;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-basis: 250px;
	background-color: white;
	padding: 12px;
	border-radius: 4px;
	box-shadow: 3px 5px 10px rgb(0, 0, 0, 20%);
	align-items: center;
	justify-content: space-between;

}

.card img {
	width: 200px;
	height: 140px;
}

.card h3 {
  flex-grow: 1;
  padding: 20px;
  margin-left: 20px;
	text-align: center;

}